@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Figtree", sans-serif;
  line-height: 150%;
  color: #111;
}

body,
.category {
  background-color: #f4d04e;
}

.blog-preview-card {
  height: 31.5rem;
  width: 24rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0.5rem 0.5rem black;
  border: 1px solid #111;
}

.card-image {
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 21rem;
  height: 12rem;
  border-radius: 0.625rem;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.category {
  padding: 0.25rem 0.75rem;
  display: inline-block;
  border-radius: 0.25rem;
}

.category,
footer,
.date {
  font-size: 0.875rem;
}

.category,
.card-content h1,
footer {
  font-weight: bolder;
}

.category,
.card-content,
.card-content h1,
.date {
  margin-bottom: 0.75rem;
}

.card-content h1:hover,
.card-content h1:active,
.card-content h1:focus {
  color: #f4d04e;
  cursor: pointer;
}

.description {
  color: #6b6b6b;
}

footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

footer img {
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }
}
